<div class="container pt-5">
  <!-- game header -->
  <div class="header mb-4">
    <div class="score">
      <p>Player X: {{ score[gameSymbols.X] }}</p>
      <p *ngIf="currentPlayer === gameSymbols.X" class="active"></p>
    </div>
    <h1 class="title">{{ "titles.game" | translate }}</h1>
    <div class="score">
      <p>Player O: {{ score[gameSymbols.O] }}</p>
      <p *ngIf="currentPlayer === gameSymbols.O" class="active"></p>
    </div>
  </div>

  <div class="border-game">
    <ng-container *ngFor="let row of board; let i = index">
      <ng-container *ngFor="let field of row; let j = index">
        <!-- single game field -->
        <app-game-field [row]="i" [col]="j"></app-game-field>
      </ng-container>
    </ng-container>
  </div>

  <div class="btns mt-2">
    <button class="btn" (click)="onNewGame()" mat-raised-button color="primary">
      {{ "buttons.new-game" | translate }}
    </button>
    <button class="btn" (click)="onResetGame()" mat-raised-button color="warn">
      {{ "buttons.reset" | translate }}
    </button>
  </div>
</div>
